# Primary Analysis

To be run after data cleaning process

## Info: 
For presenting the data in the paper I’ve found the following improvements that could be made: 
1. Table containing Characteristics of participants: similar to table 2 and 3 in ref[1]
    * I think the results of the regression are disseminated well, but the initial analysis of the population is missing, the reference has some good tables for this. Table 1 and 2 go into some of the details but don’t provide an overview of the population.

[1] Tian, X., Wu, M., Zang, J. et al. Dietary diversity and adiposity in Chinese men and women: an analysis of four waves of cross-sectional survey data. Eur J Clin Nutr 71, 506–511 (2017). https://doi.org/10.1038/ejcn.2016.212

In [1]:
#Imports

import numpy as np
import pandas as pd
import warnings
import os
warnings.filterwarnings("ignore")

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import pandas_profiling as pp

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

data = pd.read_csv('cleaned_survey.csv')
data.sample(5)

     Unnamed: 0 Community name Where do you normally cook?  What is the family's monthly income? (Brazil´s Minimum Wage R$937.00) Resident:  Permanent  Gender (M or F)    Age  Civil state                      Education     House  How many meals a day?   . How many people eat at home daily?   How many contribute to the family's monthly income?  Which is the main one?                 FuelChoice  Number_Men  Number_Women
9             9          Aruaú             built-in kitchen                                               1 MW                                        Y               M  46-55      Married  Incompleted elementary school  Own home                     3.0                                    5.0                                                2.0               Agriculture                        LPG           3             2
121         121  Santo Antônio             built-in kitchen                                               1 MW                                        Y               F  46-55      Married        Incompleted high school  Own home                     3.0                                    3.0                                                2.0                       NaN  LPG - Charcoal - Firewood           1             2
146         146       Tiririca             built-in kitchen                                               1 MW                                        Y               F  46-55      Married  Incompleted elementary school  Own home                     3.0                                    2.0                                                2.0               Agriculture  LPG - Charcoal - Firewood           1             1
54           54    Monte Sinai              Outdoor kitchen                                                NaN                                        Y               F  37-45  Other union  Incompleted elementary school  Own home                     2.0                                   10.0                                                NaN               Agriculture        Charcoal - Firewood           7             3
37           37         Marajá             built-in kitchen                                             1-2 MW                                        Y               F    >56       Single  Incompleted elementary school  Own home                     2.0                                    2.0                                                2.0                Retirement  LPG - Charcoal - Firewood           3             0

In [2]:
def mean_string(m, s):
    return '{:.{sig}f}±{:.2g}'.format(m, s, sig=-int(np.floor(np.log10(s))))

def pct_string(p):
    return '{:.1f}%'.format(p * 100.)

#get fuel types
int_df = data.copy()
print("Fuel Choices by Count:\n",int_df['FuelChoice'].value_counts())

fuels = ["LPG - Firewood","LPG - Charcoal - Firewood","LPG - Charcoal","LPG"]
#Onlt taking ones shown later in Multinomial stuff
numeric_cols = ['How many meals a day? ','. How many people eat at home daily? ', "How many contribute to the family's monthly income? ", 'Number_Men', 'Number_Women']
categorical = ['Where do you normally cook? ','Gender (M or F)',"Age",'Civil state','Education','Which is the main one?']

#unique
# 'Resident:  Permanent ', 
# 'House', , 

#Create empty DF
dict_template = {x:[] for x in ["Variable name","Total Population"]+fuels}
table_df = pd.DataFrame.from_dict(dict_template)

#Headers for Categorical
for cat in categorical:
    table_df.loc[cat,"Variable name"] = cat
    
for fuel in fuels:
    temp_df = int_df[int_df['FuelChoice']==fuel]
    for numeric in numeric_cols:
        table_df.loc["1_"+numeric,fuel] = mean_string(temp_df[numeric].mean(),
                                                     temp_df[numeric].std())
        #"%.2f ±%.3f"%(temp_df[numeric].mean(),temp_df[numeric].std())
        table_df.loc["1_"+numeric,"Variable name"] = numeric

    for cat in categorical:
        total = len(temp_df[cat].dropna())
        for unique_cat in int_df[cat].dropna().unique():
            count_cat = len(temp_df[temp_df[cat]==unique_cat][cat].dropna())
            table_df.loc[cat+"_"+str(unique_cat),fuel] = pct_string(count_cat/total)
            #"%.1f%s"%(count_cat/total*100.0,"%")
            table_df.loc[cat+"_"+str(unique_cat),"Variable name"] ="qquad "+str(unique_cat)
    
    table_df.loc['Resident:  Permanent ',fuel] = pct_string(temp_df['Resident:  Permanent '].dropna().count()/temp_df.shape[0])
    table_df.loc['Resident:  Permanent ',"Variable name"] = 'Resident:  Permanent '
    
    table_df.loc['House',fuel] = pct_string(temp_df[temp_df['House']=="Own home"]['House'].count()/temp_df['House'].dropna().count())
    table_df.loc['House',"Variable name"] = 'House'

#Total
for numeric in numeric_cols:
    table_df.loc["1_"+numeric,"Total Population"] = mean_string(int_df[numeric].mean(),
                                                               int_df[numeric].std())
    #"%.2f ±%.3f"%(int_df[numeric].mean(),int_df[numeric].std())

for cat in categorical:
    total = len(int_df[cat].dropna())
    for unique_cat in int_df[cat].dropna().unique():
        count_cat = len(int_df[int_df[cat]==unique_cat][cat].dropna())
        table_df.loc[cat+"_"+str(unique_cat),"Total Population"] = pct_string(count_cat/total)

table_df.loc['Resident:  Permanent ',"Total Population"] = pct_string(int_df['Resident:  Permanent '].dropna().count()/int_df.shape[0])
table_df.loc['Resident:  Permanent ',"Variable name"] = 'Resident:  Permanent '

table_df.loc['House',"Total Population"] = pct_string(int_df[int_df['House']=="Own home"]['House'].count()/int_df['House'].dropna().count())
table_df.loc['House',"Variable name"] = 'House'

table_df.sort_index(inplace=True)  

#Fix Names
change_name = {
 'Resident:  Permanent ' : "Residence",
 'Gender (M or F)': "Gender of Household Head",
 'Age' : "Age of Household Head",
 'Education': "Education of Household Head",
 'How many meals a day? ' : "Number of meals per day",
 '. How many people eat at home daily? ': "Number of people at meals daily",
 "How many contribute to the family's monthly income? ": "Number of people contributing to the monthly income",
 'Civil state':"Civil Status of Household Head",
 'House':"House Ownership",
  "Number_Men":"Number of Men in Household",
  "Number_Women":"Number of Women in Household",
  "Where do you normally cook? _3.0":"Normal Cooking Area"
}

for change in change_name:
    table_df.loc[table_df['Variable name']==change,'Variable name']= change_name[change]

display(table_df)    

with pd.option_context("max_colwidth", 1000):
    string_tex = table_df.to_latex(header = False, multirow=True,index=False)

# add_header = """ 
# \\begin{tabular}{|p{5cm}|p{1.4cm}p{1.4cm}|p{1.4cm}p{1.4cm}|p{1.4cm}}
#                 \\toprule
# 				Variable name & Total Population & LPG - Firewood & LPG - Charcoal - Firewood & LPG - Charcoal & LPG \\\\
# 				\midrule
# """

add_header = """
\\begin{tabular}{p{4.5cm}ccccc}
                \\toprule
				Variable name & 
				\\multicolumn{1}{p{1.7cm}}{\\centering\\bfseries  Total Population }& 
				\\multicolumn{1}{p{1.7cm}}{\\centering\\bfseries  LPG - Firewood }& 
				\\multicolumn{1}{p{1.7cm}}{\\centering\\bfseries  LPG - Charcoal - Firewood }& 
				\\multicolumn{1}{p{1.7cm}}{\\centering\\bfseries  LPG - Charcoal} & 
				\\multicolumn{1}{p{1.7cm}}{\\centering\\bfseries LPG} \\\\
				\\midrule


"""
string_tex = string_tex.replace("qquad","\\qquad")

string_tex = add_header + string_tex.split("toprule")[1]

string_tex = string_tex.replace("±","$\\pm$")
string_tex = string_tex.replace("NaN"," ")

#Creates tex table that was used in the paper
with open("table_desc_format.tex", "wb") as text_file: 
    text_file.write(string_tex.encode('utf8'))

Fuel Choices by Count:
 LPG - Charcoal - Firewood    84
LPG - Firewood               33
LPG                          32
LPG - Charcoal               16
Charcoal                      5
Nan                           4
Charcoal - Firewood           3
Firewood                      2
Name: FuelChoice, dtype: int64

                                                                                        Variable name Total Population LPG - Firewood LPG - Charcoal - Firewood LPG - Charcoal       LPG
1_. How many people eat at home daily?                                Number of people at meals daily            4±2.5          5±3.4                     4±2.2          3±1.7     3±1.8
1_How many contribute to the family's monthly i...  Number of people contributing to the monthly i...          1.8±0.8       2.0±0.98                  1.8±0.82       1.8±0.68  1.6±0.62
1_How many meals a day?                                                       Number of meals per day         3.3±0.83       3.2±0.79                  3.4±0.77          3±1.3  3.2±0.75
1_Number_Men                                                               Number of Men in Household            2±1.4          3±1.4                     2±1.2          2±1.1     2±1.4
1_Number_Women                                                           Number of Women in Household            2±1.1          2±1.1                     2±1.2          2±1.4  1.5±0.98
Age                                                                             Age of Household Head              NaN            NaN                       NaN            NaN       NaN
Age_15-25                                                                                 qquad 15-25            18.1%          12.1%                     22.6%          18.8%     15.6%
Age_26-36                                                                                 qquad 26-36            27.7%          12.1%                     34.5%          31.2%     21.9%
Age_37-45                                                                                 qquad 37-45            22.0%          42.4%                     15.5%          18.8%     12.5%
Age_46-55                                                                                 qquad 46-55            16.9%          12.1%                     14.3%           6.2%     34.4%
Age_>56                                                                                     qquad >56            15.3%          21.2%                     13.1%          25.0%     15.6%
Civil state                                                            Civil Status of Household Head              NaN            NaN                       NaN            NaN       NaN
Civil state_Married                                                                     qquad Married            42.1%          60.6%                     40.5%          25.0%     34.4%
Civil state_Other union                                                             qquad Other union            24.7%          21.2%                     27.4%          43.8%     15.6%
Civil state_Separated                                                                 qquad Separated             1.1%           0.0%                      0.0%           0.0%      3.1%
Civil state_Single                                                                       qquad Single            30.9%          18.2%                     31.0%          31.2%     43.8%
Civil state_Widow                                                                         qquad Widow             1.1%           0.0%                      1.2%           0.0%      3.1%
Education                                                                 Education of Household Head              NaN            NaN                       NaN            NaN       NaN
Education_Can read and write                                                 qquad Can read and write             5.7%           9.4%                      6.1%           6.2%      0.0%
Education_Completed Elementary School                               qquad Completed Elementary School             8.0%           0.0%                      7.3%          18.8%      9.4%
Education_Completed high school                                           qquad Completed high school            22.9%          15.6%                     24.4%          31.2%     18.8%
Education_Completed the upper course                                 qquad Completed the upper course             4.0%           6.2%                      0.0%           0.0%     12.5%
Education_Does not know how to read                                   qquad Does not know how to read             4.0%           6.2%                      2.4%           0.0%      6.2%
Education_Incompleted elementary school                           qquad Incompleted elementary school            39.4%          40.6%                     41.5%          37.5%     37.5%
Education_Incompleted high school                                       qquad Incompleted high school            16.0%          21.9%                     18.3%           6.2%     15.6%
Gender (M or F)                                                              Gender of Household Head              NaN            NaN                       NaN            NaN       NaN
Gender (M or F)_F                                                                             qquad F            54.0%          51.5%                     61.4%          33.3%     48.4%
Gender (M or F)_M                                                                             qquad M            46.0%          48.5%                     38.6%          66.7%     51.6%
House                                                                                 House Ownership            95.5%          93.9%                    100.0%          87.5%     87.5%
Resident:  Permanent                                                                        Residence            85.5%          69.7%                     94.0%         100.0%     81.2%
Where do you normally cook?                                              Where do you normally cook?               NaN            NaN                       NaN            NaN       NaN
Where do you normally cook? _Outdoor kitchen                                    qquad Outdoor kitchen             6.4%           9.1%                      4.9%           6.7%      0.0%
Where do you normally cook? _There is no kitchen                            qquad There is no kitchen             1.2%           0.0%                      0.0%           6.7%      0.0%
Where do you normally cook? _built-in kitchen                                  qquad built-in kitchen            92.4%          90.9%                     95.1%          86.7%    100.0%
Which is the main one?                                                         Which is the main one?              NaN            NaN                       NaN            NaN       NaN
Which is the main one?_Agriculture                                                  qquad Agriculture            39.3%          31.8%                     45.9%          26.7%     29.2%
Which is the main one?_Commerce                                                        qquad Commerce             6.2%           4.5%                      4.1%          20.0%      4.2%
Which is the main one?_Fishing                                                          qquad Fishing            13.8%          18.2%                     16.2%          13.3%      4.2%
Which is the main one?_Handicraft                                                    qquad Handicraft            24.1%          36.4%                     21.6%          33.3%     20.8%
Which is the main one?_Manual Labour                                              qquad Manual Labour             2.1%           0.0%                      1.4%           6.7%      4.2%
Which is the main one?_Public Service                                            qquad Public Service             8.3%           9.1%                      8.1%           0.0%     12.5%
Which is the main one?_Retirement                                                    qquad Retirement             2.8%           0.0%                      1.4%           0.0%      8.3%
Which is the main one?_Services                                                        qquad Services             3.4%           0.0%                      1.4%           0.0%     16.7%